<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Update Raw Data</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
        crossorigin="anonymous">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {


    });
  </script>
</head>
<body>
<h1>
  Admin Tool to Update RawData Table
</h1>
<h4>
  - Header-Row needs to contain the column names.<br />
  - ID Column can be omitted.<br />
  - Allowed CSV delimiter: "," (comma) or ";" (semicolon)
</h4>
<form id="form">

  {{#each fileNames}}
    <label for="{{this}}">{{this}} CSV:</label>
    <input type="file" class="file-input" name="{{this}}" id="{{this}}"><br>
  {{/each}}

  <input type="submit" name="submit" value="UPLOAD">
  <input type="reset" value="RESET" />
  <ul id="messages"></ul>
</form>
<ul id="statusLog"></ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  $(function () {
    var socket = io();
    socket.on('message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });

    $('#form').submit(function(e){
      var url = '/admin-api/upload';
      var data = new FormData();
      jQuery.each(jQuery('.file-input'), function (i, input) {
        jQuery.each(input.files, function(i, file) {
          console.log(input.name);
          console.log(file);
          data.append(input.name, file);
        });
      });

      $.ajax({
        url,
        data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
      });
      e.preventDefault(); // prevents page reloading
    });
  });
</script>
</body>
</html>
